.wy-nav-content {
  max-width: 1200px;
  margin: 0;
}

.wy-nav-side {
  padding-bottom: 0;
}

.rst-versions {
  display: none;
}

.rst-content pre {
  width: 100%;
  max-width: 56rem;
  padding-right: 3.25rem;
}
